[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bayescount"]
	path = bayescount
	url = https://github.com/mdenwood/bayescount
	shallow = true
	registered = true
